/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.3;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
    font-family: outfit;
    src: url(outfit-thin.ttf);
}
@font-face {
    font-family: youngserif;
    src: url(YoungSerif-Regular.ttf);
}
body{
    background-color: hsl(30, 54%, 90%);
    font-family: outfit;
    line-height: 1.8;
    font-weight: 300;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table caption{
    margin-left: 0;
    text-align: left;
    padding-block:1rem ;
}
td, th{
    padding: 0.5rem;
    padding-inline: 3rem;
    text-align: left;
}
tr:not(:last-child){
    border-bottom:1px solid black;
}
img{
    border-radius: 5px;
}
.recipe-page_image{
    padding-inline: 1.78rem;
    padding-block-start: 1.78rem;
    border-radius: 5px;
    overflow: hidden;
}
main{
    max-width: 34rem;
    margin-block: 5rem;
    background-color: white;
    margin-inline: auto;
    border-radius: 1em;
    font-size: 0.73rem;
    padding-bottom: 13px;
}
.recipe-page_text{
    margin-inline: 2rem;
    background-color: white;
}
.recipe-page_text .preparationtime{
    background-color: rgb(249, 235, 237);
    padding: 1rem;
}
.recipe-page_text .preparationtime .heading{
    color: hsl(332, 51%, 32%);
    font-weight: 500;
}
p.text_under_simple_omelette_recipe{
    margin-bottom: 15px;
}
ul, ol{
    margin: 0;
}
li{
    margin-left: 1.1rem;
}
.recipe-page_text section{
    display: block;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
ol li::marker, ul::marker{
    color: hsl(14, 45%, 36%);
}

.recipe-page_text .subheading{
    color: hsl(14, 45%, 36%);
    font-family: youngserif;
}
.simple_omelette_recipe-heading{
    color: hsl(24, 5%, 18%);
    font-family: youngserif;
}
h1,h2,h3,h4,h5,h6{
    margin-block: 15px;
}
.text_under_simple_omelette_recipe{
    font-family: outfit, Helvetica;
    font-weight: 300;
}
span{
    font-weight: 500;
}
.number{
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}